{% load static %}
<link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="{% static "css/calendar.css" %}" type="text/css">
<script src="{% static "js/jquery-3.3.1.js" %}"></script>
<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>

<div id="calendar">
    <div id="mestitle"></div>
    <div id="nextmonth" onclick="nextmonth()">></div>

    <div id="head"><div class="title">Lunes</div><div class="title">Martes</div><div class="title">Miercoles</div><div class="title">Jueves</div><div class="title">Viernes</div><div class="title">Sabado</div><div class="title">Domingo</div></div>
    <div id="week0" class="week"><div class="day0 day"></div><div class="day1 day"></div><div class="day2 day"></div><div class="day3 day"></div><div class="day4 day"></div><div class="day5 day"></div><div class="day6 day"></div></div>
    <div id="week1" class="week"><div class="day0 day"></div><div class="day1 day"></div><div class="day2 day"></div><div class="day3 day"></div><div class="day4 day"></div><div class="day5 day"></div><div class="day6 day"></div></div>
    <div id="week2" class="week"><div class="day0 day"></div><div class="day1 day"></div><div class="day2 day"></div><div class="day3 day"></div><div class="day4 day"></div><div class="day5 day"></div><div class="day6 day"></div></div>
    <div id="week3" class="week"><div class="day0 day"></div><div class="day1 day"></div><div class="day2 day"></div><div class="day3 day"></div><div class="day4 day"></div><div class="day5 day"></div><div class="day6 day"></div></div>
    <div id="week4" class="week"><div class="day0 day"></div><div class="day1 day"></div><div class="day2 day"></div><div class="day3 day"></div><div class="day4 day"></div><div class="day5 day"></div><div class="day6 day"></div></div>
    <div id="week5" class="week"><div class="day0 day"></div><div class="day1 day"></div><div class="day2 day"></div><div class="day3 day"></div><div class="day4 day"></div><div class="day5 day"></div><div class="day6 day"></div></div>
</div>

<div class="mdc-dialog"
     id="segmentdialog"
     role="alertdialog"
     aria-modal="true"
     aria-labelledby="my-dialog-title"
     aria-describedby="my-dialog-content">
  <div class="mdc-dialog__container">
    <div class="mdc-dialog__surface">
      
      <h2 class="mdc-dialog__title" id="my-dialog-title"><!--
     -->Seleccione el horario<!--
   --></h2>
      <div class="mdc-dialog__content" id="segmentsdia">
      </div>
      <footer class="mdc-dialog__actions">
        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="no">
          <span class="mdc-button__label">candelar</span>
        </button>
        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="yes" onclick="agendar()">
          <span class="mdc-button__label">continuar</span>
        </button>
      </footer>
    </div>
  </div>
  <div class="mdc-dialog__scrim"></div>
</div>

<script>
const confirmsegment = document.getElementById('segmentdialog');
const diaseg = new mdc.dialog.MDCDialog.attachTo(confirmsegment);
</script>
<script src="{% static "js/calendar.js" %}"></script>