{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    

    <title>Inicio</title>
	
</head>
<body class="white">
    <!-- NAVBAR -->
    <!-- NAVBAR -->
    <nav class="black">


    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row" style="width: 60%; margin-left: 20%;">
            <div class="center">
                <img src="{% static "images/webpay.png" %}">
            </div>
            <form class="col s12" action="#" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s6 m6 xl6 offset-m3 offset-xl3">
                        <input placeholder="xxxx xxxx xxxx xxxx" id="n_credito" type="text" class="validate" name="n_credito">
                        <label for="n_credito">Numero tarjeta de credito</label>
                    </div>
                    <div class="input-field col s3 m3 xl3 offset-m3 offset-xl3">
                        <input id="m_credito" type="text" class="validate" name="m_credito">
                        <label for="m_credito">Mes vencimiento</label>
                    </div>
                    <div class="input-field col s3 m3 xl3">
                        <input id="a_credito" type="text" class="validate" name="a_credito">
                        <label for="a_credito">Año vencimiento</label>
                    </div>
                    <div class="input-field col s6 m6 xl6 offset-m3 offset-xl3">
                        <input id="c_credito" type="text" class="validate" name="c_credito">
                        <label for="c_credito">Codigo</label>
                        <br>
                        <br>
                        <input id="c_credito" type="text" class="validate" name="pagar_codigo_estacionamiento" value="{{estacionamiento.codigo}}" hidden>
                    </div>
                    
                    <button class="btn waves-effect waves-light red" type="submit" name="action" style="width: 48%; margin-left: 26%;">PAGAR</button>
                </div>
            </form>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
    <!-- FOOTER -->
    <footer class="page-footer black">
    
        <div class="footer">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Spatium</h5>
                    <p class="grey-text text-lighten-4">Es una pagina que te ayudara a encontrar estacionamientos en la comuna de santiago.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Contactos</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Gmail</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="footer">
                © 2019 Copyright Text
            </div>
        </div>

    </footer>
    <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>


    <!-- MATERIALIZE SCRIPTS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            //var elems = document.querySelectorAll('.collapsible');
            //var instances = M.Collapsible.init(elems, options);
        });
        M.AutoInit();
    </script>
</body>
</html>