#calendar{
    position: absolute;
    width: 80%;
    height: 75%;
    margin: 6% 10%;
    outline-style: solid;
    background: black;
    min-width: 900px;
    min-height: 600px;
}
#head{
    
    width: 100%;
    height: 4%;
}
.title{
    font-family: 'Roboto';
    text-align: center;
    line-height: 200%;
    vertical-align: middle;
    float: left;
    height: calc(100% - 1px);
    width: calc((100% / 7) - 2px);
    background: yellow;
    margin: 1px;
}
.week{
    width: 100%;
    height: 16%;
}
.day{
    font-family: 'Roboto';
    font-size: 20px;
    position: relative;
    width: calc((100% / 7) - 2px);
    height: calc(100% - 2px);
    float: left;
    background: rgb(233, 232, 232);
    margin: 1px;
}
.lock{
    background: rgb(143, 143, 143);
}

.dis{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50%;
    width: 75%;
    background: rgba(0, 255, 0, 0.425);
    color: green;
    font-size: 20px;
    text-align: center;
    cursor: url(../images/cursor-d.png), auto;
}
.dis:hover{
    background: rgba(166, 255, 0, 0.425);
}
.dis:active{
    background: rgba(238, 255, 0, 0.425);
}
.nodis{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50%;
    width: 75%;
    background: rgba(255, 0, 0, 0.514);
    color: rgb(128, 0, 0);
    font-size: 20px;
    text-align: center;
    cursor: url(../images/cursor-nd.png), auto;
}
.seg{
    width: 90%;
    height: 30px;
    background: rgb(184, 183, 183);
    color: green;
    margin: 5%;
    text-align: center;
    vertical-align: middle;
}
.seg:hover{
    background: rgb(168, 182, 145);
}
.seg:active{
    background: rgb(202, 202, 124);
}
.selected{
    background: greenyellow;
}
.full{
    width: 90%;
    height: 30px;
    color: rgb(255, 255, 255);
    margin: 5%;
    text-align: center;
    vertical-align: middle;
    background: red;
}
#nextmonth{
    position: absolute;
    height: 100px;
    width: 50px;
    background: rgb(145, 145, 145);
    right: -53px;
    top: calc(50% - 50px);
    line-height: 100px;
    font-size: 50px;
    font-family: 'Roboto';
    text-align: center;
    vertical-align: middle;
}
#nexmonth:hover{
    background: rgb(167, 167, 167);
}
#nexmonth:active{
    background: rgb(100, 100, 100);
}
#mestitle{
    position: absolute;
    height: 4vh;
    width: 50%;
    left: 25%;
    font-size: 30px;
    font-family: 'Roboto';
    text-align: center;
    background: rgb(116, 116, 116);
    top:calc(-4vh - 3px);
}
